{
  "ecmaFeatures": {
    "arrowFunctions": true
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true,
    "xit": true,
    "spyOn": true
  },
  "rules": {
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
